@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Lato:400,700');
body {
    font-family: "Lato", "Open Sans", sans-serif;
    width: 900px;
}
header {
    display: flex;
    flex-direction: row;
    align-items: center;
    /*justify-content: space-between;*/
    background-color: rgb(194, 171, 212);
    border: solid thin;
    border-color:rgb(39, 26, 49);
    border-radius: 5px 5px 5px 5px;
}
header h1 {
    font-size: 1.5rem;
    padding-left: 20px;
}
header img {
    float: right;
    border-radius: 5px 5px 5px 5px;
}
main  ul {
    list-style: none;
}
h2 {
    padding-left: 10px;
}
footer {
    height:auto;
    display:grid;
    grid-template-rows: 15px 15px;
    justify-items: center;
    background-color: rgb(194, 171, 212);
    border: solid thin;
    border-color:rgb(39, 26, 49);
    border-radius: 5px 5px 5px 5px;
}
footer .copy {
    font-size: 14px;
}
footer .modified {
    font-size: x-small;
}