body {
    
    width: 900px;
}
header {
    display: flex;
    background-color: rgb(194, 171, 212);
    border-radius: 10px 10px 10px 10px;
}
footer {
    background-color: rgb(194, 171, 212);
    border-radius: 10px 10px 10px 10px;
}