@media only screen and (min-width: 780px) { 
    header {
        width: 1200px;
        grid-template-columns: 1fr 1fr;
        margin-left: 10px;
    }
    header img {
        grid-column: 2;
        justify-self: right;
        padding-right: 10px;
        padding-bottom: 10px;
    }
    header h1 {
        grid-row: 1;
        grid-column: 1;
        justify-self: start;
        font-size: 2.5rem;
        padding-left: 20px;
    }
    main {
        width: 1200px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 10px;
    }
    .s1 {
        padding-left: 5px;
    }
    .s1 h2 {
        font-size: 1em;
        padding-left: 30px;
    }
    .s1 h3 {
        font-size: .9em;
        padding-left: 140px;
    }
    .s1 a {
        padding-left: 50px;
    }
    .s1 img {
        padding-left: 30px;
    }
    .s1 p {
        padding: 5px;
        font-size: 17px;
    }
    .s2 {
        padding-left: 5px;
    }
    .s2 h2 {
        font-size: 1em;
        padding-left: 100px;
    }
    .s2 h3 {
        font-size: .9em;
        padding-left: 100px;
    }
    .s2 a {
        padding-left: 60px;
    }
    .s2 img {
        padding-left: 30px;
    }
    .s2 p {
        padding: 5px;
        font-size: 17px;
    }
    .s3 {
        padding-left: 5px;
    }
    .s3 h2 {
        font-size: 1em;
        padding-left: 90px;
    }
    .s3 h3 {
        font-size: .9em;
        padding-left: 110px;
    }
    .s3 a {
        padding-left: 100px;
    }
    .s3 img {
        padding-left: 30px;
    }
    .s3 p {
        padding: 5px;
        font-size: 17px;
    }
    footer {
        width: 1200px;
        margin-left: 10px;
    }
    footer .copy {
        font-size: 14px;
    }
    footer .modified {
        font-size: 12px;
    }
}