@media only screen and (min-width: 480px) {
    header {
        width: 770px;
        grid-template-columns: 1fr 1fr;
    }
    header img {
        grid-column: 2;
        justify-self: right;
        padding-right: 25px;
        padding-bottom: 10px;
    }
    header h1 {
        grid-row: 1;
        grid-column: 1;
        justify-self: start;
        font-size: 2.5rem;
        padding-left: 20px;
    }
    main {
        width: 770px;
        font-size: 24px;
        grid-template-columns: 1fr 1fr;
        padding: 10px;
    }
    .s1 {
        padding-left: 5px;
    }
    .s1 h2 {
        font-size: .9em;
        padding-left: 10px;
    }
    .s1 h3 {
        font-size: 1em;
        padding-left: 110px;
    }
    .s1 a {
        padding-left: 20px;
    }
    .s1 img {
        margin-left: 0px;
    }
    .s2 {
        padding-left: 5px;
    }
    .s2 h2 {
        font-size: .9em;
        padding-left: 10px;
    }
    .s2 h3 {
        font-size: 1em;
        padding-left: 110px;
    }
    .s2 a {
        padding-left: 20px;
    }
    .s2 img {
        margin-left: 0px;
    }
    .s3 {
        padding-left: 5px;
    }
    .s3 h2 {
        font-size: .9em;
        padding-left: 10px;
    }
    .s3 h3 {
        font-size: 1em;
        padding-left: 110px;
    }
    .s3 a {
        padding-left: 20px;
    }
    .s3 img {
        margin-left: 0px;
    }
    footer {
        width: 770px;
        height: 120px;
    }
    footer .copy {
        font-size: 22px;
    }
    footer .modified {
        font-size: 16px;
    }
}