body {
    font-family: "Lato", "Open Sans", sans-serif;
    width: 420px;
}
header {
    display: grid;
    justify-items: center;
    align-items: center;
    background-color: rgb(194, 171, 212);
}
header h1 {
    font-size: 1.5rem;
}
header img {
    padding-top: 10px;
}
main {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    padding: 5px;
}
.s1 {
    background-color: rgb(221, 219, 223);
    border: solid thin;
    border-color: rgb(123, 123, 124);
    padding: 5px;
}
.s1 h2 {
    font-size: 1.2em;
    padding-left: 40px;
}
.s1 h3 {
    font-size: 1em;
    padding-left: 130px;
}
.s1 a {
    padding-left: 70px;
}
.s1 img {
    border: solid thin;
    border-color: rgb(123, 123, 124);
    margin-left: 20px;
}
footer {
    display: grid;
    height:100px;
    grid-template-rows: 15px 15px 15px;
    justify-items: center;
    background-color: rgb(194, 171, 212);
}
footer .copy {
    font-size: 14px;
}
footer .modified {
    font-size: 12px;
}