body {
    font-family: "Lato", "Open Sans", sans-serif;
    width: auto;
}
header {
    display: grid;
    justify-items: center;
    align-items: center;
    background-color: rgb(194, 171, 212);
}
header h1 {
    grid-column: 1;
    font-size: 1.5rem;
}
header img {
    padding-top: 10px;
}
main {
    grid-template-columns: 1fr;
}
h2 {
    font-size: 1.25em;
    padding-left: 30px;
}
footer {
    display: grid;
    height:100px;
    grid-template-rows: 15px 15px 15px;
    justify-items: center;
    background-color: rgb(194, 171, 212);
}
footer .copy {
    font-size: 14px;
}
footer .modified {
    font-size: 12px;
}