@media only screen and (min-width: 1024px) {
    header {
        flex-direction: row;
    }
    header img {
        width: 200px;
    }
    header h1 {
        font-size: 3em;
    }
    .fiveday {
       margin-left: 0px;
       margin-top: 400px;
    }
    .gallerymain {
        grid-template-columns: 1fr 1fr 1fr;
    }
    #galleryh2 {
        grid-column: 1/span 3;
    }
    #quote {
        margin-left: 10px;
    }
    .summary {
        margin-top: -250px;
    }
    .social {
        margin-left:200px;
    }
}