@media only screen and (min-width: 980px) {
    header {
        flex-direction: row;
    }
    header img {
        width: 200px;
    }
    header h1 {
        font-size: 3em;
    }
    .fiveday {
       margin-left: 0px;
       margin-top: 400px;
    }
    .gallerymain {
        grid-template-columns: 1fr 1fr 1fr;
    }
    #galleryh2 {
        grid-column: 1/span 3;
    }
    .lastVisit {
        grid-column: 1/span 3;
    } 
    #quote {
        margin-left: 10px;
    }
    .summary {
        margin-top: -300px;
    }
    .social {
        margin-left:200px;
    }
    .stormReport {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .stormReport h3 {
        grid-column: 1/span 3;
    }
    .stormcomments {
        grid-column: 1;
    }
    .reportButton {
        grid-column: 1/span 3;
        margin-top: 10px;
    }
    .stormimage {
        display: block;
        align-self: center;
        grid-column: 2/span 2;
        box-shadow: 5px 5px 10px 5px #1d4861;
        margin-top: 5px;
    }
    .towns {
        flex-direction: row;
        margin-top: 375px;
    }
    .towns section {
        flex-direction: column;
    }
    .towns section:nth-child(even) {
        flex-direction: column;
    }
}