body {
    width: 410px;
    background-color: #00A0FF;
    font-family: 'Roboto', 'Open Sans', sans-serif;
}
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f5f8de;
    border: solid thin #aeb198;
    padding-bottom: 20px;
}
header img {
    width: 200px;
}
header h1 {
    font-family: 'Expletus Sans', sans-serif;
    padding-left: 30px;
}
nav {
    width: 100%;
    display: inline-block;
    background-color: #ffffff;
    padding-top: 10px;
    margin-bottom: -5px;
    border: solid thin #aeb198;
}
.navicon {
    margin-left: 200px;
}
.menu li {
    list-style-type: none;
}
.dropbtn {
    text-rendering: optimizeLegibility;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    background-color: #ffff92;
}
.temp {
    width: 350px;
    height: 80px;
    text-align: center;
    padding: 10px;
    background-color: #f5f8de;
    border: solid thin #aeb198;
}
footer {
    display: flex;
    justify-content: center;
    background-color: #f5f8de;
    border: solid thin #aeb198;
}
