body {
    font-family: "Josefin Sans", "Open Sans", "sans serif";
    background-color: #faebd7;
}
header, footer {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    font-weight: 700;
    color: #1d4861;
}
h1 {
    box-shadow: 5px 10px 10px 5px #1d4861;
    padding: 10px 20px;
    border-radius: 5px 5px 5px 5px;
}
main {
    padding: 20px;
    font-weight: 400;
    color: #faebd7;
}
.cards {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: auto;
}
.cards section {
    background-color: #3986dd;
    padding: 10px;
    border: solid thin #1d4861;
    text-align: center;
    margin: 25px;
    box-shadow: 5px 10px 10px 5px #1d4861;
    border-radius: 5px 5px 5px 5px;
}
.cards section h2, .cards section p {
    font-weight: 700;
}
img {
    width: 80%;
    padding-bottom: 20px;
}