@media only screen and (min-width: 1024px) {
    header {
        flex-direction: row;
    }
    header img {
        width: 200px;
    }
    header h1 {
        font-size: 3em;
    }
    #quote {
        margin-left: 10px;
    }
    .active {
        padding: 14px 125px 14px 125px;
    }
    .hero {
        display: block;
        background-image: url(/wdd230/lesson5/images\rsz_5sebastian-unrau-9yz9us5-d0s-unsplashLarge.jpg);
        width: 100vw;
    }
}