@media only screen and (min-width: 768px) {
    header {
        flex-direction: row;
        justify-content: center;
    }
    header img {
        margin-left: 20px;
    }
    header h1 {
        font-size: 1.3em;
        margin-left: -10px;
    }
    .menu {
        flex-direction: row;
        justify-content:space-evenly;
        padding-left: 40px;
        padding-bottom: 10px;
        padding-top: 10px;
        margin-top: -10px;
        margin-bottom: -10px;
    }
    .menu li:first-child {
        display: none;
    }
    .menu li {
        display: block;
        flex: 1 1 100%;
    }
    .hero {
        background-image: url(rsz_4sebastian-unrau-9yz9us5-d0s-unsplashMedium.jpg);
    }
    .fiveday {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        align-content: center;
        width: 70vw;
       margin-left: -90px;
    }
    .fiveday h2 {
        grid-column: 1/span 5;
        grid-row: 1;
        justify-self: center;
        padding-left: 20px;
        padding-right: 20px;
        font-size: 2em;
    }
    .weekly {
        justify-items: center;
        background-color: #f5f8de;
        border: solid thin #aeb198;
        width: 10vw;
        padding-left: 50px;
    }
    .article img {
        float: right;
    }
    .contact {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 68vw;
    }
    .contact h2 {
        grid-column: 1/span 2;
        justify-self: center;
    }
    .address h3 {
        font-family: 'Expletus Sans', sans-serif;
        font-weight: 600;
    }
    .social {
        flex-direction: row;
        margin-top: 120px;
        margin-left: 40px;
    }
}