body {
    background-color: #00A0FF;
    font-family: 'Roboto', 'Open Sans', sans-serif;
    font-weight: 400;
}
.special {
    display: none;
}
.reveal {
    display: flex;
    font-size: 2em;
    font-weight: 700;
    color: #ffff92;
    justify-content: center;
    padding: 20px;
}
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f5f8de;
    border: solid thin #aeb198;
    padding-bottom: 20px;
}
header img {
    width: 200px;
}
header h1, #headerh1 {
    font-family: 'Expletus Sans', sans-serif;
    font-weight: 600;
    padding-left: 30px;
}
.menu {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin-top: -3px;
    margin-bottom: -3px;
    margin-left: -45px;
}
.menu li a:first-child {
    display: block;
}
.listItem {
    display: none;
    background-color: #000000;
    color: #ffff;
    text-decoration: none;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
}
.listItem:hover {
    color: #000000;
    background-color: #ffffff;
}
.hide li {
    display: none;
}
.hide li:first-child {
    display: block;
}
.active {
    background-color: rgb(101, 126, 196);
    color: #ffff;
    text-decoration: none;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    background-color: #ffff92;
}
.gallerymain {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.lastVisit {
    background-color: #f5f5dc;
    text-align: center;
    padding: 10px;
    margin-bottom: 20px;
    border: solid thin #1d4861;
    font-weight: 600;
}
.gallerymain picture img[data-src] {
        filter: blur(0.2em);
} 
.gallerymain picture img {
        filter: blur(0em);
        transition: filter 2s;
}
.gallerymain picture p {
    background-color: #ffffff;
    font-weight: 600;
    border: solid thin #1d4861;
    text-align: center;
    margin-top: -5px;
    width: 298px;
}
#preston {
    font-size: 3em;
}
.hero {
    display: block;
    width: 96%;
    margin: 0 2%;
}
.hero img {
    width: 100%;
}
.action {
    display: flex;
    position: relative;
    margin-top: -100px;
}
#reportstorm, #donateimage {
    line-height: 2em;
    width: 10em;
    background-color: #2075ff;
    color: #ffffff;
    font-size: 1em;
    text-decoration: none;
    border: solid thin #ffffff;
    padding: 10px 20px;
    box-shadow: 5px 5px 5px #1d4861;
    text-align: center;
  }
  #reportstorm:hover, #donateimage:hover {
    background-color: #1d4861;
  }
.summary {
    display: grid;
    grid-template-columns: 51% 40%;
    grid-gap: 20px;
    width: 400px;
    position: relative;
    background-color: #00A0FF;
    border: solid thin #1d4861;
    border-radius: 5px;
    box-shadow: 5px 10px 15px #00000090;
}
.summary h2 {
    grid-column: 1/span 2;
    grid-row: 1;
    justify-self: center;
    margin-bottom: 0;
}
#currenticon {
    width: 80px;
    grid-column: 1/span 2;
    grid-row: 2;
    justify-self: center;
    margin-top: -20px;
}
.title {
    grid-column: 1;
    grid-row: 3;
    text-align: right;
    list-style-type: none;
    font-weight: 600;
    font-size: 1.25rem;
    padding-left: 0;
    margin-top: -20px;
}
.temperature {
    grid-column: 2;
    grid-row: 3;
    list-style-type: none;
    font-weight: 600;
    padding-left: 0;
    font-size: 1.25rem;
    margin-top: -20px;
}
.fiveday {
    display: none;
}
.article img {
    width: 280px;
    padding: 10px;
}
.article {
    background-color: #2075ff;
    border: solid thin #aeb198;
    color: #ffffff;
    padding: 20px;
    width: 70vw;
    margin-bottom: 15px;
    margin-top: 15px;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f5f8de;
    border: solid thin #aeb198;
}
#current {
    padding-left: 20px;
}
.contact {
    display: flex;
    flex-direction: column;
    background-color: #f5f8de;
    border: solid thin #aeb198;
    width: 65vw;
    padding-left: 60PX;
}
.social {
    display: flex;
    flex-direction: row;
}
.stormReport {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    width: 80vw;
    background-color: #f5f8de;
    border: solid thin #aeb198;
}
.stormReport h3,.reportDiv, .reportDiv input, .reportDiv button, .reportDiv button a, .reportDiv ul li, footer #attribution, .social li {
    padding: 10px;
    list-style-type: none;
    text-decoration: none;
}
.reportDiv {
    margin-bottom: 5px;
}
.reportDiv label, .reportDiv button {
    font-weight: 600;
}
.stormimage {
    display: none;
}
#thanks {
    font-size: 24px;
    font-weight: 600;
}
input:invalid {
	background-color: #fdd;
	color: #000;
}
input:valid {
	background-color: #dfd;
	color: #000;
}
input[type="radio"], input[type="checkbox"] {
	width: 20px;
	height: 20px;
}
#region {
    padding: 10px 30px;
}
.towns {
    display: flex;
    flex-direction: column;
    justify-content: center;
   gap: 15px;
    width: 300px;  
    margin-top: 50px; 
}
.towns section {
    background-color: #00A0FF;
    margin-bottom: 20px;
    padding: 10px;
    text-align: center;
    border: solid thin #1d4861;
    box-shadow: 5px 5px 5px #1d4861;
}
.towns section img {
    width: 100%;
}
.wfpage {
    display: flex;
    flex-direction: column;
    background-color:#f5f8de;
    width: 80vw;
    border: solid thin #1d4861;
    margin-bottom: 5px;
    text-align: center;
}
.wireframe {
    margin: 10px auto;
}
#severity {
    padding: 10px 0;
	margin: 0 15px;
	color: #2075ff;
}
.attribution, .weatherattribution, .wireframes {
    text-decoration: none;
}
.dropregion {
    background-color: #fff;
    border-radius: 10px;
    box-shadow:0 0 35px rgba(0,0,0,0.05);
    width:300px;
    padding:30px 0px;
    text-align: center;
    cursor:pointer;
    transition:.3s;
    margin-bottom: 10px;
    border: solid thin #aeb198;
}
.dropregion:hover {
    box-shadow:0 0 45px rgba(0,0,0,0.1);
}
 
#image-preview {
    margin-top:20px;
}
#image-preview .image-view {
    display: inline-block;
    position:relative;
    margin-right: 13px;
    margin-bottom: 13px;
}
#image-preview .image-view img {
    max-width: 100px;
    max-height: 100px;
}
#image-preview .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    z-index: 2;
    background: rgba(255,255,255,0.5);
}
.highlighted {
    background-color:grey;
}
.pageoattrib {
    background-color: #f5f8de;
    width: 90vw;
    border: solid thin #aeb198;
    margin: 20px auto;
}
.photoattribution li {
    list-style-type: none;
}
.photoattribution li a {
    text-decoration: none;
}