@media only screen and (min-width: 1024px) {
    #quakertown {
        font-size: 3.5rem;
    }
    #coc {
        font-size: 4.5rem;
    }
    .featuredbiz {
        flex-direction: row;
        margin-top: 100px;
    }
    .featuredbiz section {
        flex-direction: column;
    }
    .featuredbiz section:nth-child(even) {
        flex-direction: column;
    }
    .threeday {
        margin-right: 100px;
    }
    .threeday p {
        padding: 10px 40px 10px 20px;
        font-size: 1.5rem;
    }
    .welcome {
        margin: 0 auto;
    }
    .landmarks {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 20px;
    }
    .landmarks h3 {
        grid-column: 1/span 3;
    }
    .googlemap iframe {
        width: 80%;
        min-width: 300px;
    }
}