body {
    font-family: "Roboto", "Open Sans", "sans-serif";
}
header {
    display: flex;
    flex-direction: column;
    background-color: #446833;
    opacity: 70%;
    padding: 10px 20px;
}
.lightbox img {
    width: 100px;
    border: double thick #000000;
}
header section {
    padding-left: 10px;
}
h1 {
    margin: 0 auto;
    text-align: center;
}
body, html {
    padding: 0;
    margin: 0;
    text-align: center;
}
.lightbox-target {
    position: fixed;
    top: -100%;
    width: 100%;
    background: rgba(0,0,0,.7);
    width: 100%;
    opacity: 0;
    -webkit-transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -o-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out;
    overflow: hidden;
}
.lightbox-target img {
    margin: auto;
    position: absolute;
    top: 0;
    left:0;
    right:0;
    bottom: 0;
    max-height: 0%;
    max-width: 0%;
    border: 3px solid white;
    box-shadow: 0px 0px 8px rgba(0,0,0,.3);
    box-sizing: border-box;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;  
}
a.lightbox-close {
    display: block;
    width:50px;
    height:50px;
    box-sizing: border-box;
    background: white;
    color: black;
    text-decoration: none;
    position: absolute;
    top: -80px;
    right: 0;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
}
a.lightbox-close:before {
    content: "";
    display: block;
    height: 30px;
    width: 1px;
    background: black;
    position: absolute;
    left: 26px;
    top:10px;
    -webkit-transform:rotate(45deg);
    -moz-transform:rotate(45deg);
    -o-transform:rotate(45deg);
    transform:rotate(45deg);
}
a.lightbox-close:after {
    content: "";
    display: block;
    height: 30px;
    width: 1px;
    background: black;
    position: absolute;
    left: 26px;
    top:10px;
    -webkit-transform:rotate(-45deg);
    -moz-transform:rotate(-45deg);
    -o-transform:rotate(-45deg);
    transform:rotate(-45deg);
}
.lightbox-target:target {
    opacity: 1;
    top: 0;
    bottom: 0;
    overflow:scroll;
}
.lightbox-target:target img {
    max-height: 100%;
    max-width: 100%;
}
.lightbox-target:target a.lightbox-close {
    top: 0;
}  
#quakertown {
    color: #C676D3;
    font-family: "Playfair Display SC", "Lobster", "serif";
    font-weight: 900;
    font-style: italic;
    font-size: 3rem;
}
#coc {
    color: #ffffff;
    font-family: "Miss Fajardose", "Corinthia", "fantasy";
    font-weight: 400;
    font-size: 3.5rem;
}
#motto {
    color: #ffffff;
    text-align: center;
    margin: 0 auto;
}
.menu {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin-top: -3px;
    margin-bottom: -3px;
    margin-left: -45px;
}
.menu li a:first-child {
    display: block;
}
.listItem {
    display: none;
    background-color: #000000;
    color: #ffff;
    text-decoration: none;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
}
.listItem:hover {
    color: #000000;
    background-color: #ffffff;
}
.hide li {
    display: none;
}
.hide li:first-child {
    display: block;
}
.active {
    background-color: #6F99BB;
    color: #000000;
    text-decoration: none;
    padding-top: 10px;
    padding-bottom: 15px;
    text-align: center;
    font-weight: 900;
    font-size: 1.25rem;
}
.hero {
    display: block;
    width: 96%;
    margin: 0 2%;
}
.hero img {
    width: 100%;
}
.innersection {
    display: flex;
    flex-direction: column;
}
.summary {
    grid-column: 1;
    display: grid;
    grid-template-columns: 55% 45%;
    grid-gap: 10px;
    width: 350px;
    position: relative;
    background-color: #C676D3;
    opacity: 70%;
    color: #000000;
    border: solid thick #1d4861;
    margin: auto;
}
.summary h2 {
    grid-column: 1/span 2;
    grid-row: 1;
    justify-self: center;
    margin-bottom: 0;
    font-weight: 900;
}
#currenticon {
    width: 80px;
    grid-column: 1/span 2;
    grid-row: 2;
    justify-self: center;
    margin-top: -20px;
}
.title {
    grid-column: 1;
    grid-row: 3;
    text-align: right;
    list-style-type: none;
    font-weight: 600;
    font-size: 1.25rem;
    padding-left: 0;
    margin-top: -20px;
}
.temperature {
    grid-column: 2;
    grid-row: 3;
    list-style-type: none;
    font-weight: 600;
    padding-left: 0;
    font-size: 1.25rem;
    margin-top: -20px;
    justify-self: left;
}
.threeday {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    text-align: center;
}
.threeday h2 {
    grid-column: 1/span 3;
    justify-self: center;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 3em;
}
.threeday p {
    background-color: #f5f8de;
    border: solid thin #aeb198;
    width: 50px;
    padding: 20px 30px;
    justify-self: center;
}
#day1 {
    grid-column: 1;
}
#day2 {
    grid-column: 2;
}
#day3 {
    grid-column: 3;
}
footer {
    display: flex;
    flex-direction: column;
    background-color: #6F99BB;
}
.footerinfo {
    padding: 10px;
}
.address {
    padding: 10px;
}
.social {
    display: flex;
    flex-direction: row;
    padding-right: 20px;
    list-style-type: none;
    align-self: center;
}
.social li {
    padding: 10px;
}
.social li a {
    text-decoration: none;
}