body {
    font-family: "Roboto", "Open Sans", "sans-serif";
}
header {
    display: flex;
    flex-direction: column;
    background-color: #446833;
    opacity: 70%;
    padding: 10px 20px;
}
.lightbox img {
    width: 100px;
    border: double thick #000000;
}
header section {
    padding-left: 10px;
}
h1 {
    margin: 0 auto;
    text-align: center;
}
body, html {
    padding: 0;
    margin: 0;
    text-align: center;
}
.lightbox-target {
    position: fixed;
    top: -100%;
    width: 100%;
    background: rgba(0,0,0,.7);
    width: 100%;
    opacity: 0;
    -webkit-transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -o-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out;
    overflow: hidden;
}
.lightbox-target img {
    margin: auto;
    position: absolute;
    top: 0;
    left:0;
    right:0;
    bottom: 0;
    max-height: 0%;
    max-width: 0%;
    border: 3px solid white;
    box-shadow: 0px 0px 8px rgba(0,0,0,.3);
    box-sizing: border-box;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;  
}
a.lightbox-close {
    display: block;
    width:50px;
    height:50px;
    box-sizing: border-box;
    background: white;
    color: black;
    text-decoration: none;
    position: absolute;
    top: -80px;
    right: 0;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
}
a.lightbox-close:before {
    content: "";
    display: block;
    height: 30px;
    width: 1px;
    background: black;
    position: absolute;
    left: 26px;
    top:10px;
    -webkit-transform:rotate(45deg);
    -moz-transform:rotate(45deg);
    -o-transform:rotate(45deg);
    transform:rotate(45deg);
}
a.lightbox-close:after {
    content: "";
    display: block;
    height: 30px;
    width: 1px;
    background: black;
    position: absolute;
    left: 26px;
    top:10px;
    -webkit-transform:rotate(-45deg);
    -moz-transform:rotate(-45deg);
    -o-transform:rotate(-45deg);
    transform:rotate(-45deg);
}
.lightbox-target:target {
    opacity: 1;
    top: 0;
    bottom: 0;
    overflow:scroll;
}
.lightbox-target:target img {
    max-height: 100%;
    max-width: 100%;
}
.lightbox-target:target a.lightbox-close {
    top: 0;
}  
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
  }
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
#quakertown {
    color: #C676D3;
    font-family: "Playfair Display SC", "Lobster", "serif";
    font-weight: 900;
    font-style: italic;
    font-size: 2rem;
}
#coc {
    color: #ffffff;
    font-family: "Miss Fajardose", "Corinthia", "fantasy";
    font-weight: 400;
    font-size: 3rem;
}
#motto {
    color: #ffffff;
    text-align: center;
    margin: 0 auto;
}
.menu {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin-top: -3px;
    margin-bottom: -3px;
    margin-left: -45px;
}
.menu li a:first-child {
    display: block;
}
.listItem {
    display: none;
    background-color: #000000;
    color: #ffff;
    text-decoration: none;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
}
.listItem:hover {
    color: #000000;
    background-color: #ffffff;
}
.hide li {
    display: none;
}
.hide li:first-child {
    display: block;
}
.active {
    background-color: #6F99BB;
    color: #000000;
    text-decoration: none;
    padding-top: 10px;
    padding-bottom: 15px;
    text-align: center;
    font-weight: 900;
    font-size: 1.25rem;
}
.hero {
    display: block;
    width: 96%;
    margin: 0 2%;
}
.hero img {
    width: 100%;
    margin-bottom: 10px;
}
#join {
    line-height: 2em;
    width: 10em;
    background-color: #2075ff;
    color: #ffffff;
    font-size: 1em;
    font-weight: 700;
    text-decoration: none;
    border: solid thin #ffffff;
    padding: 10px 20px;
    text-align: center;

  }
  #join:hover {
    background-color: #1d4861;
  }

.innersection {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
.summary {
    display: grid;
    grid-template-columns: 55% 45%;
    grid-gap: 10px;
    width: 350px;
    position: relative;
    background-color: #d3b4d8;
    opacity: 70%;
    color: #000000;
    border: solid thick #1d4861;
    margin: auto;
}
#currenticon {
    width: 80px;
    grid-column: 1/span 2;
    grid-row: 2;
    justify-self: center;
    margin-top: -20px;
}
.title {
    grid-column: 1;
    grid-row: 3;
    text-align: right;
    list-style-type: none;
    font-weight: 600;
    font-size: 1.25rem;
    padding-left: 0;
    margin-top: -20px;
}
.temperature {
    grid-column: 2;
    grid-row: 3;
    list-style-type: none;
    font-weight: 600;
    padding-left: 0;
    font-size: 1.25rem;
    margin-top: -20px;
    justify-self: left;
}
.threeday {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5px;
    text-align: center;
}
.threeday h2 {
    grid-column: 1/span 3;
    justify-self: center;
    padding: 0 20px;
    font-size: 1.5rem;
}
.threeday p {
    background-color: #d3c2d6;
    border: solid thick #437694;
    width: 90px;
    font-weight: 700;
    justify-self: center;
}
#day1 {
    grid-column: 1;
}
#day2 {
    grid-column: 2;
}
#day3 {
    grid-column: 3;
}
.welcome {
    width: 90vw;
    margin: 10px;
    font-weight: 700;
}
.events {
    background-color: #446833;
    color: #ffffff;
    opacity: 70%;
    width: 70vw;
    margin: 0 auto;
    margin-bottom: 10px;
    font-weight: 700;
}
.featuredbiz, .cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: 700;
    gap: 15px;
    width: 300px;  
    margin: 0 auto; 
}
.featuredbiz section, .cards section {
    background-color: #f5f8de;
    margin-bottom: 20px;
    padding: 10px;
    text-align: center;
    border: solid thin #1d4861;
}
.featuredbiz section img, .cards section img {
    width: 100%;
}
.currentevents {
    list-style-type: none;
}
.switchview {
    padding: 10px;
    margin-top: 10px;
}
.list {
    display: flex;
    flex-direction: column;
}
.list section img {
    display: none;
}
.list section p {
    display: none;
}
#qtown {
    font-size: 2rem;
    font-weight: 900;
}
.marks a {
    text-decoration: none;
    font-size: 1.5rem;
}
.demographics {
    list-style-type: none;
    margin: 10px auto;
    margin-left: -20px;
}
.stats {
    font-weight: 400;
}
.article {
    font-size: 1.35rem;
    font-weight: 700;
    width: 90vw;
    padding: 10px 20px;
    margin: 5px auto;
}
#libertyhall {
    float: right;
    padding: 5px;
}
#tavern {
    float: left;
    padding: 5px;
}
#trainstation {
    float: right;
    padding: 5px;
}
.contact {
    font-size: 1.35rem;
    font-weight: 700;
}
.googlemap iframe {
    width: 300px;
}
.stormReport {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    background-color: #92c3eb;
    border: solid thin #aeb198;
    margin: 10px 5px 50px 5px;
}
.stormReport h3,.reportDiv, .reportDiv input, .reportDiv button, .reportDiv button a, .reportDiv ul li, footer #attribution, .social li {
    padding: 10px;
    list-style-type: none;
    text-decoration: none;
}
.reportDiv {
    margin-bottom: 5px;
}
.reportDiv label, .reportDiv button {
    font-weight: 600;
}
.thanks {
    min-height: 500px;
    font-size: 1.35rem;
    font-weight: 700;
}
.board {
    margin-top: 100px;
    font-size: 1.5rem;
}
.members {
    list-style-type: none;
}
.join {
    font-size: 1.35rem;
}
.level {
    width: 20px;
    height: 20px;
}
.benefits {
    background-color: #d3b4d8;
    border: solid thin #aeb198;
    margin: 10px 10px 50px 10px;
    font-size: 1.35rem;
    font-weight: 700;
}
.benefits h2 {
    font-size: 2rem;
}
.bling {
    list-style-type: none;
}
.gold {
    background-color: #FFD700;
    width: 80%;
    margin: 0 auto;
    padding: 10px;
}
.silver {
    background-color: #C0C0C0;
    width: 80%;
    margin: 0 auto;
    padding: 10px;
}
.bronze {
    background-color: #CD7F32;
    width: 80%;
    margin: 0 auto;
    padding: 10px;
}
.non-profit {
    background-color: #1111b6;
    color: #ffffff;
    width: 80%;
    margin: 0 auto;
    padding: 10px;
}
footer {
    display: flex;
    flex-direction: column;
    background-color: #6F99BB;
}
footer p {
    font-weight: 700;
}
footer a {
    text-decoration: none;
}
.footerinfo {
    padding: 10px;
}
.address {
    padding: 10px;
}
.social {
    display: flex;
    flex-direction: row;
    padding-right: 20px;
    list-style-type: none;
    align-self: center;
}
.socialicons {
    width: 50px;
}
.social li {
    padding: 10px;
}
.social li a {
    text-decoration: none;
}