@import url('https://fonts.googleapis.com/css2?family=Expletus+Sans:ital,wght@1,600&family=Open+Sans&family=Roboto&display=swap');
body {
    background-color: #00A0FF;
    font-family: 'Roboto', 'Open Sans', sans-serif;
    font-weight: 400;
}
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f5f8de;
    border: solid thin #aeb198;
    margin-left: -20px;
}
header img {
    width: 150px;
    margin-left: 20px;
}
header h1 {
    font-family: 'Expletus Sans', sans-serif;
    font-weight: 600;
    font-size: 1.4em;
    margin-left: 50px;
    padding: 10px;
}
.nav {
    margin-bottom: 20px;
}
.button {
    display: flex;
    background-color: #ffff;
    text-decoration: none;
    font-weight: 600;
    border: solid thin #aeb198;
    padding: 10px 20px 10px 20px; 
}
.button:hover {
    background-color: #aeb198;
    color: #ffff92;
}
.switch:first-child {
    background-color: #00A0FF;
}
.switch {
    text-align: center;
    background-color: #000000;
    color: #ffffff;
    padding: 10px 20px 10px 20px; 
}
#home {
    width: 60px;
    padding-left: 40px;
    padding-right: 60px;
}
main {
    background-color: #ffff92;
    font-size: .8em;
    padding: 10px;
}
.color img {
    width: 400px;
    border: solid thin #aeb198;
}
.h1font {
    font-family:'Expletus Sans', sans-serif;
    font-weight: 600;
}
.pad img {
    width: 400px;
}
.persona {
    background-color: #f5f8de;
    border: solid thin #aeb198;
    padding: 10px;
}
.scenario {
    margin-left: -20px;
}
footer {
    display: flex;
    justify-content: center;
    background-color: #f5f8de;
    border: solid thin #aeb198;
}